.codeblock {
    box-shadow:inset 0px 10px 0px 0px rgba(255, 255, 255, 0.3);
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#7C7C7C 100%);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border: 1px solid rgba(0, 0, 0, 0.72);
    display: table;
    cursor:pointer;
    font-size:13px;
    padding:6px 15px;
    text-shadow:0px 1px 0px rgba(133, 133, 133, 0.69);
    height: 37px;
    vertical-align: middle;
    background-blend-mode: multiply;
}
#program li.drop {
    border-radius: 3px;
    width: 6px;
    background-color: #ffffff;
    margin-left: -6px;
    z-index: 0;
}
.buttons {
    padding-top: 5px;
}
.buttons .codeblock{
    display: inline-block;
}
.content * {
    display: block;
    margin-left: auto;
    margin-right:auto;  
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
.codeblock div img {
    width: 1.5em;
}
.codeblock input {
    display: none;
}
#program input {
    display: block;
}
#program .codeblock {
    box-shadow: inset 0px 20px 0px 0px rgba(255, 255, 255, 0.3);
    border-radius:10px;
    font-size: 17px;
    border: 0px;
}
#program .codeblock input {
    width: 60px;
    background-color: rgba(0, 0, 0, 0.1);  
    color:  inherit;
    border-radius:3px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    text-align: center;
    position: relative;
}