@import url('../fonts/rokkitt.css');
* {
    margin: 0px;
    padding: 0px;
}
*::-webkit-input-placeholder {
    color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input:focus::-webkit-input-placeholder { color:transparent; }
*:not(input):not(textarea) {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/**:not(textarea) {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
body {
    background-color: #111;
    margin: 0px;
    color: #FFF;
    font-family: 'Rokkitt', serif;
    overflow: hidden;
}
#header {
    height: 60px;
    width: 100%;
    background-color: #333;
}
#main {
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#footer {
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0px;
    background-color: #333;
}
.border {
    height: 6px;
    width: 100%;
    background: linear-gradient(to bottom, #a2a2a2 0%, #000000 100%);
}
#header .logo {
    height: 90%;
    float: left;
}
.logo img {
    float: left;
    height: inherit;
    padding-left: 5px;
    padding-top: 5px;
}
.logo h1 {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 10px;
}
@media all and (max-width: 719px) {
    .logo h1 {
        display: none;
    }
}
.view { 
    height: 95%;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-left: auto;
    margin-right: auto;
}
@media all and (min-width: 720px){
    .view {
        width: 558px;
    }
}
@media all and (max-width: 719px){
    .view {
        width: 384px;
    }
}
#program li { 
    margin: 3px 3px 3px 0; 
    padding: 0px; 
    float: left; 
    width: 90px; 
    height: 60px; 
    text-align: center; 
}
#program,#textualProgram,#simulation {
    display: block; 
}
#footer .codeblock {
    font-size: 23px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding: 0px;
    box-shadow: inset 0px 20px 0px 0px rgba(255, 255, 255, 0.3);
    border-radius:10px;
}
#footer .run {
    width: 200px;
}
#footer .codeblock span {
    top: 10px;
    position: relative;
}
#modeChange {
    width: 45px;
    position: absolute;
    top: 6px;
    right: 5px;
}
#options {
    width: 45px;
    position: absolute;
    top: 6px;
    left: 5px;
}
#clearProgram {
    width: 45px;
    position: absolute;
    top: 6px;
    left: 55px;
}
textarea {
    resize: none;
}
#keyboardHolder {
    position: absolute;
    bottom: 0px;
    width: 100%;
}